<div class="profile-container">
    <div class="profile-picture">
        <img src="images/profile_pritesh.jpg" alt="Profile Picture">
    </div>
    <div class="profile-name">{{ .Site.Data.profile.name }}</div>
    <div class="profile-contact">
        <div class="contact-item"> 
            <img class="contact-icon" src="/images/phone.svg" alt="Phone">
            <span>{{ .Site.Data.profile.phone }}</span>
        </div>
        <div class="contact-item">
            <img class="contact-icon" src="/images/email.svg" alt="Email">
            <span>{{ .Site.Data.profile.email }}</span>
        </div>
        <div class="contact-item">
            <img class="contact-icon" src="/images/location.svg" alt="Location">
            <span>{{ .Site.Data.profile.location }}</span>
        </div>
        <div class="contact-item">
            <img class="contact-icon" src="/images/linkedin.svg" alt="LinkedIn">
            <span>{{ .Site.Data.profile.linkedin }}</span>
        </div>
    </div>
</div>